* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.title h1 {
  font-size: 36px;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: -webkit-linear-gradient(#ffd369, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);

  display: block;
  position: relative;
  z-index: 3;
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@keyframes move-twinkle-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  display: block;
}

.stars {
  background: #000 url(/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(/images/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twinkle-back 200s linear infinite;
}

.clouds {
  background: transparent url(/images/clouds.png) repeat top center;
  z-index: 2;
  opacity: 0.4;
  animation: move-clouds-back 200s linear infinite;
}
