#toggle {
  display: none;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 35px;
  cursor: pointer;
  z-index: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-toggle div {
  width: 100%;
  height: 5px;
  background: #ffd369;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin: 5px 0;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.95);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 6;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  padding: 0 50px;
  margin: 0;
  width: 10px 50px;
}

.navbar ul li a {
  opacity: 0;
  transform: translateY(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 20px;
  transition: color 0.2s;
}

.navbar ul li a:hover {
  color: #ffd369;
}

#toggle:checked + .menu-toggle + .navbar {
  transform: translateX(0);
}

#toggle:checked + .menu-toggle div:nth-child(1) {
  transform: rotate(45deg) translate(11px, 6px);
}
#toggle:checked + .menu-toggle div:nth-child(2) {
  opacity: 0;
}
#toggle:checked + .menu-toggle div:nth-child(3) {
  transform: rotate(-45deg) translate(11px, -6px);
}

#toggle:checked + .menu-toggle + .navbar ul li a {
  animation: navFade 0.4s forwards;
}

#toggle:checked + .menu-toggle + .navbar ul li:nth-child(1) a {
  animation-delay: 0.1s;
}
#toggle:checked + .menu-toggle + .navbar ul li:nth-child(2) a {
  animation-delay: 0.2s;
}
#toggle:checked + .menu-toggle + .navbar ul li:nth-child(3) a {
  animation-delay: 0.3s;
}
#toggle:checked + .menu-toggle + .navbar ul li:nth-child(4) a {
  animation-delay: 0.4s;
}
#toggle:checked + .menu-toggle + .navbar ul li:nth-child(5) a {
  animation-delay: 0.5s;
}
#toggle:checked + .menu-toggle + .navbar ul li:nth-child(6) a {
  animation-delay: 0.6s;
}

@keyframes navFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
