#toggle {
  display: none;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-toggle div {
  height: 4px;
  background: #ffd369;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.95);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 6;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin: 20px 0;
  transition: color 0.2s;
}

nav a:hover {
  color: #ffd369;
}

#toggle:checked + .menu-toggle + nav {
  transform: translateX(0);
}

#toggle:checked + .menu-toggle div:nth-child(1) {
  transform: rotate(45deg) translate(11px, 6px);
}
#toggle:checked + .menu-toggle div:nth-child(2) {
  opacity: 0;
}
#toggle:checked + .menu-toggle div:nth-child(3) {
  transform: rotate(-45deg) translate(11px, -6px);
}
