h1 {
  font-family: "Orbitron", sans-serif;
  position: relative;
  color: #ffd369;
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
  text-shadow: 2px 2px 4px #0a0f24;
  margin-top: 20px;
  z-index: 5;
}

section {
  width: 80%;
  margin: 0 auto;
  height: 60vh;
  z-index: 5;
}

.gallery {
  display: flex;
  gap: 20px;
  height: 70vh;
  margin-top: 30px;
  z-index: 5;
}

input[type="radio"] {
  display: none;
  z-index: 5;
}

.card {
  flex: 1;
  background-size: cover;
  background-position: center;
  border: 1px solid #ffd369;
  border-radius: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  position: relative;
  transition: flex 0.5s cubic-bezier(0.28, -0.03, 0, 0.99);
  display: flex;
  align-items: flex-end;
  padding: 10px;
  color: #ffd369;
  z-index: 5;
}

.card::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid #ffd36988;
  border-radius: 25px;
  pointer-events: none;
  box-shadow: 0 0 15px #ffd36977;
  transition: all 0.3s ease;
  z-index: 1;
}

.card .textes {
  display: none;
  z-index: 5;
}

input:checked + label {
  flex: 20;
  z-index: 5;
}

input:checked + label .textes {
  display: block;
  z-index: 5;
}

.card h3 {
  font-family: "Orbitron", sans-serif;
  margin: 0 0 5px 0;
  z-index: 5;
}

.card p {
  font-size: 14px;
  margin: 0;
  z-index: 5;
}

/* Images pour chaque constellation */
.card[for="c1"] {
  background-image: url("../images/Constellation/cassiope.webp");
}
.card[for="c2"] {
  background-image: url("../images/Constellation/petite_ourse.webp");
}
.card[for="c3"] {
  background-image: url("../images/Constellation/draco.webp");
}
.card[for="c4"] {
  background-image: url("../images/Constellation/grande_ourse.webp");
}
.card[for="c5"] {
  background-image: url("../images/Constellation/Céphé.webp");
}
.card[for="c6"] {
  background-image: url("../images/Constellation/Lynx.webp");
}
