h1 {
  color: #ffd369;
  text-align: center;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header .content {
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
}

header .image {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 20px 40px;
  margin-top: 100px;
  margin-left: 10%;
}

header .image img {
  width: 200px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

header .image img:hover {
  transform: scale(1.05);
}
