h1 {
  font-family: "Orbitron", sans-serif;
  position: relative;
  color: #ffd369;
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
  text-shadow: 2px 2px 4px #0a0f24;
  margin-top: 20px;
  z-index: 5;
}

header .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: start;
  z-index: 5;
}

header .image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 45px;
  margin-top: 30px;
  z-index: 5;
}

header .image img {
  width: 100%;
  max-width: clamp(200px, 45vw, 400px);
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  z-index: 5;
}

header .image img:hover {
  transform: scale(1.1);
  z-index: 5;
}

.explication {
  display: none;
  margin-top: 200px;
  background: #ffd369;
  backdrop-filter: blur(5px);
  border: 1px solid #ffd369;
  border-radius: 20px;
  padding: 20px;
  color: #0a0f24;
  box-shadow: 0 4px 12px #0a0f24;
  animation: fadeIn 0.5s ease forwards;
  z-index: 5;
}

.explication h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  z-index: 5;
}

.explication p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  z-index: 5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#img1:checked ~ .explication#text1 {
  display: grid;
}
#img2:checked ~ .explication#text2 {
  display: grid;
}
#img3:checked ~ .explication#text3 {
  display: grid;
}
#img4:checked ~ .explication#text4 {
  display: grid;
}

input[type="radio"] {
  display: none;
}
