h1 {
  font-family: "Orbitron", sans-serif;
  position: relative;
  color: #ffd369;
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
  text-shadow: 2px 2px 4px #0a0f24;
  margin-top: 20px;
  z-index: 5;
}

.containt {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: clamp(15px, 2vw, 30px);
  padding: 10px 40px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  z-index: 5;
}

.box {
  position: relative;
  background: #0a0f2477;
  border: 1px solid #ffd369;
  width: clamp(220px, 23vw, 260px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  text-align: center;
  transition: transform 0.3s ease;
  z-index: 5;
}

.box::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid #ffd36988;
  border-radius: 25px;
  pointer-events: none;
  box-shadow: 0 0 15px #ffd36977;
  transition: all 0.3s ease;
  z-index: 1;
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: radial-gradient(circle, #ffd36911 0%, transparent 70%);
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 2;
}

.box:hover {
  transform: translateY(-10px);
}

.box:hover::before {
  box-shadow: 0 0 25px #ffd369aa, 0 0 40px #ffd36977;
}

.box:hover::after {
  background: radial-gradient(circle, #ffd36933 0%, transparent 70%);
}
.box:hover {
  transform: translateY(-10px);
}

.box img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid #ffd369;
}

.box h3 {
  margin: 10px 0 5px;
  color: #ffd369;
  font-family: "Orbitron", sans-serif;
  font-size: 1.1rem;
}
