h1 {
  font-family: "Orbitron", sans-serif;
  position: relative;
  color: #ffd369;
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
  text-shadow: 2px 2px 4px #0a0f24;
  margin-top: 20px;
  z-index: 5;
}

body {
  overflow-x: hidden;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: none;
  margin: 40px 0;
  padding: 0 10px;
  height: 70vh;
  padding-left: 40px;
}

.gallery {
  background: #0a0f24;
  border: 1px solid #ffd369;
  border-radius: 20px;
  padding: 15px;
  width: clamp(120px, 24vw, 290px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.gallery::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid #ffd36988;
  border-radius: 25px;
  pointer-events: none;
  box-shadow: 0 0 15px #ffd36977;
  transition: all 0.3s ease;
  z-index: 1;
}

.gallery:hover {
  transform: scale(1.1);
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 10px;
  z-index: 5;
}

.gallery .textes {
  max-height: 0;
  overflow: hidden;
  color: #ffd369;
  font-size: clamp(10px, 1.3vw, 15px);
  line-height: 1.4;
  transition: max-height 0.5s ease;
  z-index: 5;
}

label input[type="checkbox"] {
  display: none;
}

label input[type="checkbox"]:checked + .gallery .textes {
  max-height: 500px;
}
